<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dina Kurser</title>
</head>
<body>
    <h1>Här är en lista över dina kurser</h1>
</body>
</html>